@page
@model LoginModel

@{
  ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
  <div>
    <section>
      <form id="account" method="post">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div>
          <wa-input label="Email" class="form-control" autocomplete="username webauthn" aria-required="true"
            placeholder="name@example.com" type="email" data-val="true"
            data-val-email="The Email field is not a valid e-mail address."
            data-val-required="The Email field is required." id="InputEmail" name="Input.Email" </wa-input>
        </div>
        <div>
          <wa-input label="Password" class="form-control" autocomplete="current-password" aria-required="true"
            placeholder="password" type="password" data-val="true" data-val-required="The Password field is required."
            id="InputPassword" name="Input.Password">
          </wa-input>
          <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="login-helper">
          <label asp-for="Input.RememberMe" class="form-label">
            <input class="form-check-input" asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
          </label>
          <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </div>
        <div class="login-helper">
          <wa-button id="login-submit" type="submit" variant="brand">Login with password</wa-button>
          <passkey-login id="__passkeySubmit" return-url="@Model.ReturnUrl"></passkey-login>
        </div>
      </form>
    </section>
  </div>
  <div>
    <section>
      <h3>Or use third party</h3>
      <hr />
      @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
          <div>
            <p>
              There are no external authentication services configured. See this <a
                href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                about setting up this ASP.NET application to support logging in via external services</a>.
            </p>
          </div>
        }
        else
        {
          <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
            class="form-horizontal">
            <div>
              <p>
                @foreach (var provider in Model.ExternalLogins!)
                {
                  <wa-button type="submit" class="btn btn-primary" name="provider" appearance="outlined" variant="brand"
                    value="@provider.Name" title="Log in using your @provider.DisplayName account">
                    @provider.DisplayName
                  </wa-button>
                }
              </p>
            </div>
          </form>
        }
      }
    </section>
  </div>
</div>

@section Scripts {
  <script type="module" src="~/js/passkeyLogin.js"></script>
  <partial name="_ValidationScriptsPartial" />
}